*{          
    font-family: 'Mulish', sans-serif; 
   } 

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a52d55;
    --bs-btn-border-color: #a52d55;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e93973;
    --bs-btn-hover-border-color: #e93973;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a52d55;
    --bs-btn-border-color: #a52d55;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e93973;
    --bs-btn-hover-border-color: #e93973;
    margin: 10px;
}

 
main{
    margin-top: 150px;
}

.bg-dark {
    background-color: #a52d55 !important;
}

h1{
    font-size: 50px !important;
    margin-top:20px;
    text-align: center;
   }

.card {
    margin: 2px;
    align-items: center;
    

    
}


.car-img{
    width: 80px;
    height: 80px;
    margin: 10px;
}

 .card-text{
    color: #e93973!important;
    font-weight: bold;
 }
.carrito{
    background-color: #d3bbc3fb;
    padding: 20px;
    margin: auto;
   
}

.producto-carrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.total-carrito{
    display: flex;
    justify-content: center;
}

.total{
margin: 10px;
margin-top: 15px;;
font-weight: bold;
}

.compra-parrafo{
    background-color: rgb(252, 167, 195);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.datos-cliente{
    display: flex;
    justify-content: center;
}

.datos-parrafo{
    margin: 10px;
    margin-top: 15px;;
}
/*
.mensaje-final{

}*/

.contact_secction-container{
    width: 80%;
    align-content: center;
    margin: auto;

}
.contact_section-item{
    margin: auto;
    padding: 20px;
}

input{
    width: 80%;
    
}

.footer{
    background-color: #a52d55;
    margin-top: 5px;
    padding: 10px;
    color: white;
    font-size: 13px;
    text-align: center;
}